@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.active-link::after{
    content: "";
    display: block;
    width: 90%;
    height: 3px;
    background-color: #299D91;
    margin-top: 16px; 
    transform: scaleX(1.5); 
    transition: all 0.3s ease;

}

table tr:last-child{
    border-bottom: none;
}